h1#title-header {
    font-weight: bolder;
    font-size: x-large;
    padding: 12px;
}

h3.project-title {
    font-weight: bolder;
}

embed.pdf {
    width: 75vw;
    height: 50vw;
}

<<<<<<< HEAD
div.project {
    padding-top: 44px;
=======
.project {
    padding-top: 30px;
>>>>>>> dev-branch
}